# FLIP C3 Quality Assurance 23.10-dev
# Voidbox Industries & Chloe Madison
# VDBX.io / @clomads
# CC-BY-SA 4.0
#
# This runs a fast rainbow wipe on boot until connected to API
# Boot button toggles the WS2812 


esphome:
  on_boot:
    priority: 550.0
    then:
      - light.turn_on: 
          id: onboard_rgb
          brightness: 25%
          effect: "Color Wipe Fast"


binary_sensor:
  - platform: gpio
    pin: 
      number: 9
      allow_other_uses: true
      ignore_pin_validation_error: true
      mode:
        input: true
        pullup: true
      inverted: True
    name: Boot Button
    on_press:
      if:
          condition:
            binary_sensor.is_off: conn_status
          then:
            - light.toggle:
                id: onboard_rgb     
  - platform: status
    name: "${friendly_name} Status"
    id: conn_status
    on_state:
      if:
          condition:
            api.connected:
          then:
            - light.turn_off:
                id: onboard_rgb